<widget	xmlns				= "http://www.w3.org/ns/widgets"
			xmlns:gap		= "http://phonegap.com/ns/1.0"
			xmlns:android	= "http://schemas.android.com/apk/res/android"
			android-versionCode="10000"
			id				= "com.mooky.dev"
			version			= "1.0.0">
	<name>Mooky Dev</name>
	<description>
		Search, discover, and explore your rides.
	</description>
	<author email="info@mookyapp.com" href="http://www.mookyapp.com">
		Mooky, Inc.
	</author>
	<content src="index.html" />

	<access origin="*" launch-external="true" />
	<allow-navigation href="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="lyft:*" launch-external="true" />
	<allow-intent href="uber:*" launch-external="true" />
	<allow-intent href="tel:*" launch-external="true" />
	<allow-intent href="sms:*" launch-external="true" />
	<allow-intent href="mailto:*" launch-external="true" />
	<allow-intent href="geo:*" launch-external="true" />
	<platform name="android">
		<allow-intent href="market:*" launch-external="true" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" launch-external="true" />
		<allow-intent href="itms-apps:*" launch-external="true" />
	</platform>

	<platform name="ios" />
	<platform name="android" />
	<!--<platform name="winphone" />-->

	<preference name="phonegap-version" value="cli-7.1.0" />

	<preference name="android-minSdkVersion" value="16" />
	<preference name="deployment-target" value="8.0" />

	<preference name="orientation" value="portrait" />

	<preference name="fullscreen" value="false" />

	<preference name="target-device" value="universal" />
	<preference name="detect-data-types" value="false" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="KeepRunning" value="true" />

	<preference name="webviewbounce" value="false" />
	<preference name="UIWebViewBounce" value="false" />
	<preference name="DisallowOverscroll" value="true" />

	<preference name="BackgroundColor" value="0xff333333" />
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="EnableViewportScale" value="true" />

	<preference name="StatusBarOverlaysWebView" value="true" />
	<preference name="StatusBarBackgroundColor" value="#e8390e" />
	<platform name="ios">
		<preference name="StatusBarStyle" value="default" />
	</platform>
	<platform name="android">
		<preference name="StatusBarStyle" value="blacktranslucent" />
	</platform>
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true" />
	</feature>


	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="5000" />
	<preference name="SplashMaintainAspectRatio" value="true" />
	<preference name="AutoHideSplashScreen" value="false" />

	<plugin name="cordova-plugin-geolocation" source="npm" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="ionic-plugin-keyboard" source="npm" />
	<plugin name="cordova-plugin-splashscreen" source="npm" />
	<plugin name="cordova-plugin-ga" source="npm" />
	<plugin name="cordova-plugin-statusbar" source="npm" />
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-network-information" source="npm" />
	<plugin name="cordova-plugin-appversion" source="npm" />
	<plugin spec="https://github.com/lampaa/com.lampa.startapp.git" source="git" />
	<plugin name="cordova-plugin-x-socialsharing" source="npm" />
	<plugin name="cordova-plugin-sim" source="npm" />

	<plugin name="cordova-plugin-facebook4" source="npm">
		<param name="APP_ID" value="268789876896518" />
		<param name="APP_NAME" value="Mooky" />
	</plugin>
	<plugin name="cordova-plugin-googleplus" source="npm">
		<param name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.593153139133-j789g4qcdlcq6auvmgg8skfol1c4avps" />
	</plugin>

	<feature name="http://api.phonegap.com/1.0/network" />

	<!--<plugin name="cordova-plugin-apprate" source="npm" />-->
	<!--<feature name="Keyboard">
		<param name="ios-package" value="IonicKeyboard" onload="true" />
	</feature>-->

	<!-- Keyboard setting for Android -->
	<edit-config platform="android" parent="/manifest/application">
		<activity android:windowSoftInputMode="adjustPan" />
	</edit-config>
	<edit-config target="AndroidManifest.xml" parent="/*">
		<uses-permission android:name="android.permission.CALL_PHONE" />
	</edit-config>
	<edit-config parent="UISupportedInterfaceOrientations" mode="replace">
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
	</edit-config>
	<edit-config file="*-Info.plist" parent="LSApplicationQueriesSchemes">
		<array>
			<string>uber</string>
			<string>lyft</string>
			<string>itms-apps</string>
			<string>tel</string>
			<string>mailto</string>
		</array>
	</edit-config>
	<edit-config file="*-Info.plist" target="NSLocationWhenInUseUsageDescription" mode="merge">
		<string>Your location will be used to accurately determine travel times and pickup location.</string>
	</edit-config>

	<!-- Default Icon/Splash -->
	<icon src="res/icon.png" />
	<splash src="res/splash.png" /> <!-- ??? *Breaks iOS build/preferences sometimes ??? -->

	<icon platform="android" qualifier="ldpi" src="res/icons/android/icon-36-ldpi.png" />
	<icon platform="android" qualifier="mdpi" src="res/icons/android/icon-48-mdpi.png" />
	<icon platform="android" qualifier="hdpi" src="res/icons/android/icon-72-hdpi.png" />
	<icon platform="android" qualifier="xhdpi" src="res/icons/android/icon-96-xhdpi.png" />
	<icon platform="android" qualifier="xxhdpi" src="res/icons/android/icon-144-xxhdpi.png" />
	<icon platform="android" qualifier="xxxhdpi" src="res/icons/android/icon-192-xxxhdpi.png" />

	<splash platform="android" qualifier="mdpi" src="res/screens/android/screen-mdpi-portrait.png" />
	<splash platform="android" qualifier="hdpi" src="res/screens/android/screen-hdpi-portrait.png" />
	<splash platform="android" qualifier="xhdpi" src="res/screens/android/screen-xhdpi-portrait.png" />
	<splash platform="android" qualifier="xxhdpi" src="res/screens/android/screen-xxhdpi-portrait.png" />
	<splash platform="android" qualifier="xxxhdpi" src="res/screens/android/screen-xxxhdpi-portrait.png" />

	<icon platform="ios" src="res/icons/ios/icon-small.png" width="29" height="29" />
	<icon platform="ios" src="res/icons/ios/icon-small-2x.png" width="58" height="58" />
	<icon platform="ios" src="res/icons/ios/icon-40.png" width="40" height="40" />
	<icon platform="ios" src="res/icons/ios/icon-40-2x.png" width="80" height="80" />
	<icon platform="ios" src="res/icons/ios/icon-50.png" width="50" height="50" />
	<icon platform="ios" src="res/icons/ios/icon-50-2x.png" width="100" height="100" />
	<icon platform="ios" src="res/icons/ios/icon.png" width="57" height="57" />
	<icon platform="ios" src="res/icons/ios/icon-2x.png" width="114" height="114" />
	<icon platform="ios" src="res/icons/ios/icon-60.png" width="60" height="60" />
	<icon platform="ios" src="res/icons/ios/icon-60-2x.png" width="120" height="120" />
	<icon platform="ios" src="res/icons/ios/icon-60-3x.png" width="180" height="180" />
	<icon platform="ios" src="res/icons/ios/icon-72.png" width="72" height="72" />
	<icon platform="ios" src="res/icons/ios/icon-72-2x.png" width="144" height="144" />
	<icon platform="ios" src="res/icons/ios/icon-76.png" width="76" height="76" />
	<icon platform="ios" src="res/icons/ios/icon-76-2x.png" width="152" height="152" />
	<icon platform="ios" src="res/icons/ios/icon-1024.png" width="1024" height="1024" />

	<splash platform="ios" src="res/screens/ios/Default@2x.png" width="640" height="960" />
	<splash platform="ios" src="res/screens/ios/Default-568h@2x.png" width="640" height="1136" />
	<splash platform="ios" src="res/screens/ios/Default-667h@2x.png" width="750" height="1334" />
	<splash platform="ios" src="res/screens/ios/Default-Portrait-736h@3x.png" width="1242" height="2208" />
	<splash platform="ios" src="res/screens/ios/Default-Landscape-736h@3x.png" width="2208" height="1242" />

	<splash platform="ios" src="res/screens/ios/Default-Portrait.png" width="768" height="1024" />
	<splash platform="ios" src="res/screens/ios/Default-Landscape.png" width="1024" height="768" />
	<splash platform="ios" src="res/screens/ios/Default-Portrait@2x.png" width="1536" height="2048" />
	<splash platform="ios" src="res/screens/ios/Default-Landscape@2x.png" width="2048" height="1536" />


</widget>
